@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
body {
    background-color: aquamarine;
}

.desc h1 {
    padding: 65px 0;
    text-align: center;
    font-weight: 200;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}

.credits {
    text-align: center;
}